advance-live-reporter-os/src/duringday.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="duringday">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:time" name="firstTime"/>
        <xs:element type="xs:time" name="lastTime"/>
        <xs:element type="xs:byte" name="timeSlot"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>