advance/schemas/api-update-flow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="flow-description.xsd"/>
	<xs:element name="update-flow">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="flow-description"/>
			</xs:sequence>
			<xs:attribute name="realm" type="xs:string"/>
			<xs:attribute name="by-user" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
