advance/schemas/api-debug-parameter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="debug-parameter">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="realm" type="xs:string"/>
			<xs:attribute name="block-id" type="xs:string"/>
			<xs:attribute name="port" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
