advance/schemas/api-receive-port.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="receive-port">
		<xs:complexType>
			<xs:attribute name="realm" type="xs:string"/>
			<xs:attribute name="port" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
