advance/schemas/api-delete-key-entry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="delete-key-entry">
		<xs:complexType>
			<xs:attribute name="keystore" type="xs:string"/>
			<xs:attribute name="keyalias" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
