advance/schemas/api-send-port.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="send-port">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entry">
					<xs:complexType>
						<xs:sequence>
							<xs:any processContents="lax"/>
						</xs:sequence>
						<xs:attribute name="port" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="realm" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
