advance/schemas/api-export-private-key.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="export-private-key">
		<xs:complexType>
			<xs:attribute name="keystore" type="xs:string"/>
			<xs:attribute name="keyalias" type="xs:string"/>
			<xs:attribute name="keyPassword" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
