advance/schemas/datastore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="datastore">
		<xs:annotation>
			<xs:documentation>The local datastore.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="users">
					<xs:annotation>
						<xs:documentation>The list of users.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="user" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The user record.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="id" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>The unique identifier.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="enabled" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation>Is the user enabled?</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The user name.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="email" type="xs:string">
										<xs:annotation>
											<xs:documentation>The optional email address.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="pager" type="xs:string">
										<xs:annotation>
											<xs:documentation>The optional pager number.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="sms" type="xs:string">
										<xs:annotation>
											<xs:documentation>The optional sms number.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="date-format" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The short date format.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="date-time-format" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The long date-time format.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="number-format" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The number format.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="thousand-separator" type="char1" use="required">
										<xs:annotation>
											<xs:documentation>The thousand separator character.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="decimal-separator" type="char1" use="required">
										<xs:annotation>
											<xs:documentation>The decimal separator character.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="password-login" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation>Choice to use password-based login (true) or client certificate-based login (false).</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="password" type="xs:base64Binary" use="required">
										<xs:annotation>
											<xs:documentation>The Base64 encoded login password or the key password of the client certificate/private key.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="keystore" type="xs:string">
										<xs:annotation>
											<xs:documentation>The keystore name.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="keyalias" type="xs:string">
										<xs:annotation>
											<xs:documentation>The client certificate/private key alias within the keystore.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="create-modify"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="realms">
					<xs:annotation>
						<xs:documentation>The list of realms.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="realm" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A realm description.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The realm's name.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="status" use="required">
										<xs:annotation>
											<xs:documentation>The status of the realm, implying whether to automatically restart a realm when the Flow Engine is restarted.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="STOPPED"/>
												<xs:enumeration value="RUNNING"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attributeGroup ref="create-modify"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="keystores">
					<xs:annotation>
						<xs:documentation>The list of keystores.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="keystore" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A keystore's properties.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The name used to reference this keystore.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="location" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The location of the keystore file on the server.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="password" type="xs:base64Binary">
										<xs:annotation>
											<xs:documentation>The optional Base64 encoded master keystore password.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="create-modify"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="notification-groups">
					<xs:annotation>
						<xs:documentation>The map of notification groups and contact information.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="group" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A notification group.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contact">
											<xs:annotation>
												<xs:documentation>A contact value of the group.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>The contact value, e.g., phone number or email address, etc.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The notification group name.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="type" use="required">
										<xs:annotation>
											<xs:documentation>The notification group type.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="EMAIL"/>
												<xs:enumeration value="PAGER"/>
												<xs:enumeration value="SMS"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="jdbc-data-sources">
					<xs:annotation>
						<xs:documentation>The list of JDBC data sources.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="source" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A JDBC data source's properties.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="id" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>The unique identifier of this JDBC data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The name used to reference this JDBC data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="driver" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The driver's class name.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="url" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The connection URL of the data source in the format the driver expects.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="user" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The user name to use to login into the data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="password" type="xs:base64Binary" use="optional">
										<xs:annotation>
											<xs:documentation>The optional Base64 encoded password to login into the data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="poolsize" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>The maximum number of active connections into the data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="schema" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>The default schema of the connection.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="create-modify"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="soap-channels">
					<xs:annotation>
						<xs:documentation>The list of SOAP channels.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="channel" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A SOAP channel properties.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="id" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>The unique identifier of this SOAP channel.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The name used to reference this SOAP channel.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="endpoint" type="xs:anyURI" use="required">
										<xs:annotation>
											<xs:documentation>The URL of the SOAP channel's endpoint.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="target-object" type="xs:anyURI">
										<xs:annotation>
											<xs:documentation>The optional target object URI (usually required by WS-Addressing enabled SOAP endpoints).</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="encrypted" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation>Should the connection use encryption.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="keystore" type="xs:string">
										<xs:annotation>
											<xs:documentation>If the connection is encrypted, this represents the keystore where the keys are stored.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="keyalias" type="xs:string">
										<xs:annotation>
											<xs:documentation>If the connection is encrypted, this represents the certificate/private key alias to use.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="password" type="xs:base64Binary">
										<xs:annotation>
											<xs:documentation>The optional Base64 encoded password to access the certificate/private key for an encrypted channel.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="create-modify"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="jms-endpoints">
					<xs:annotation>
						<xs:documentation>The list of JMS endpoint properties.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="endpoint" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A JMS endpoint properties.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="id" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>The unique identifier of this endpoint.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The name used to reference this endpoint.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="driver" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The InitialContextFactory class name (e.g., the JMS driver).</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="url" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The driver specific connection URL to the endpoint.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="user" type="xs:string">
										<xs:annotation>
											<xs:documentation>The optional user name to log into a JMS service provider.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="password" type="xs:base64Binary">
										<xs:annotation>
											<xs:documentation>The optional Base64 encoded password to log into the JMS service provider.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="queue-manager" type="xs:string">
										<xs:annotation>
											<xs:documentation>The optional queue manager name to use.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="queue" type="xs:string">
										<xs:annotation>
											<xs:documentation>The optional queue name to use for communication.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="poolsize" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>The maximum allowed concurrent connections to this JMS endpoint.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="create-modify"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="web-data-sources">
					<xs:annotation>
						<xs:documentation>The list of web data sources.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="source" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The description of a web data source.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="id" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>The unique identifier of this web data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The name used to reference this web data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="url" type="xs:anyURI" use="required">
										<xs:annotation>
											<xs:documentation>The URL of the web data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="login-type" use="required">
										<xs:annotation>
											<xs:documentation>The login type enumeration.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="NONE"/>
												<xs:enumeration value="BASIC"/>
												<xs:enumeration value="CERTIFICATE"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="keystore" type="xs:string">
										<xs:annotation>
											<xs:documentation>In case of client certificate based login, this contains the keystore name.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="user-or-key" type="xs:string">
										<xs:annotation>
											<xs:documentation>The login user name or the key alias for the certificate.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="password" type="xs:base64Binary">
										<xs:annotation>
											<xs:documentation>The optional password used in case of BASIC login or the private key password for the keystore.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="create-modify"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ftp-data-sources">
					<xs:annotation>
						<xs:documentation>The list of FTP data sources.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="source" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>An FTP data source properties.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="id" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>The unique identifier of this FTP data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The name used to reference this data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="protocol" use="required">
										<xs:annotation>
											<xs:documentation>The protocol to use for the file transfer.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="FTP"/>
												<xs:enumeration value="FTPS"/>
												<xs:enumeration value="SFTP"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="address" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The host and port to the targeted FTP without protocol or directory.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="remote-directory" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The remote directory.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="user" type="xs:string">
										<xs:annotation>
											<xs:documentation>The optional user name to log into the target server.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="password" type="xs:base64Binary">
										<xs:annotation>
											<xs:documentation>The optional Base64 encoded password to log int othe target server.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="passive" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>Use passive mode?</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="create-modify"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="local-data-sources">
					<xs:annotation>
						<xs:documentation>The list of local data sources.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="source" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A local data source properties.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="id" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>The unique identifier of this local data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The name used to reference this data source.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="directory" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The local directory.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="create-modify"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="sequence" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>The sequence used to generate the unique identifiers.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="char1">
		<xs:annotation>
			<xs:documentation>A single character.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="create-modify">
		<xs:attribute name="created-at" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>The timestamp when the record was created.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="created-by" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The user who created the record.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="modified-at" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>The timestamp when the record was last modified.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="modified-by" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The user who modified the record last.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
