advance/schemas/depot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="location.xsd"/>
	<xs:complexType name="Depot">
		<xs:sequence>
			<xs:element name="location" type="Location"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
</xs:schema>
