advance/schemas/flag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Flag">
		<xs:attribute name="id" type="xs:integer"/>
		<xs:attribute name="type" type="xs:integer"/>
		<xs:attribute name="consignmentId" type="xs:integer"/>
	</xs:complexType>
</xs:schema>
